.filters
{
    color:white;
    height: 70px;
    width:100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: black; */
    text-align: center;
    padding-right: 30px;
}
  .Search
{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    align-items: center;

    opacity: 90%;

}
.search:hover{
    opacity: 90%;
}
.locations, .amenities
{
    height: 100%;
    width: 25%;
    align-items: center;
    color:#484848;
    line-height: 20%;
    margin-top: 10px;
    justify-content: left;
    padding-right: 200px;
    
}
.locations
{
    border-right: 1px solid #DDDDDD;
    padding-right: 10px;
    margin-left: 30px;

}
.amenities
{
    padding-left: 10px;
   
}
.locations h3, .amenities h3
{
    font-weight: 600;
}
.locations h4, .amenities h4
{

    font-weight: 400;
    font-size: 14px;
}


